<div class="task">
  <ng-container *ngIf="!task">
    <span class="text-center w-100">Ainda não há tarefas para esse dia</span>
  </ng-container>
  <ng-container *ngIf="task">
    <button class="task-checked">
      <i
        [ngClass]="
          task.completed ? 'fa-solid fa-circle-check' : 'fa-regular fa-circle'
        "
      ></i>
    </button>
    <div class="task-info">
      <h2>{{ task.title }}</h2>
      <div>
        <i class="fa-regular fa-clock"></i>
        <span>
          {{
            task.dueHour.toLocaleString("pt-br", {
              hour: "2-digit",
              minute: "2-digit",
            })
          }}
        </span>
        <i class="fa-solid fa-circle separator"></i>
        <span>{{ task.category }}</span>
      </div>
    </div>
    <div class="task-btns">
      <button
        class="task-btn-edit"
        data-bs-toggle="modal"
        [attr.data-bs-target]="taskId + '_edit'"
      >
        <i class="fa-solid fa-pen"></i>
      </button>
      <button
        class="task-btn-delete"
        data-bs-toggle="modal"
        [attr.data-bs-target]="taskId + '_delete'"
      >
        <i class="fa-solid fa-trash"></i>
      </button>
    </div>
  </ng-container>
</div>
