header {
  padding: 0 10%;
  background: rgb(248, 249, 250);
}

.logo-png {
  height: 100px;
  margin: 0 100px;
}

.navbar-nav {
  gap: 100px;
}

.nav-item {
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-item:hover {
  color: black;
  transform: scale(1.2);
  transition: all 0.4s ease;
}
