:host {
  color: var(--text);
}

header {
  display: flex;
  justify-content: space-between;
}

h1,
h2 {
  font-size: 2rem;
  font-weight: bold;
}

button {
  color: var(--text);
  font-size: 3rem;
  font-weight: bold;
  height: fit-content;
  width: fit-content;
  margin: auto 0;
  padding: 0.5rem 0.75rem;
  line-height: 1;
  transition: box-shadow 0.5s;
  border-radius: 4px;

  &:hover {
    box-shadow: inset 0px 0px 4px 4px var(--primary);
  }
}
